
.dashboard_container {
    display: grid;
    padding: 0 24px 0 0;
    grid-template-columns: 170px 150px 1fr;
    /* grid-template-rows: repeat(auto-fit, minmax(120px, auto)); */
    grid-template-areas: 
        'nav featured_vid featured_vid'
        'nav_list upcoming upcoming'
        'nav_list now_playing now_playing'
        'nav_list popular_list popular_list'
        'nav_list top_rated top_rated'
        
    ;
}

.nav {
    grid-area: nav;
}

.nav_list {
    grid-area: nav_list;
}

.now_playing_list {
    grid-area: now_playing;
}

.popular_list {
    grid-area: popular_list;
}

.top_rated {
    grid-area: top_rated;
}

.upcoming {
    grid-area: upcoming;
}

.featured_vid {
    grid-area: featured_vid;
    max-height: 700px;
    overflow: hidden;
}

@media (max-width: 600px) {
    .dashboard_container {
        display: block;
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow: hidden;
    }
}